@use "../base/mixins" as *;

.rdp-root {

  .rdp-months {
    @include md {
      max-width: 100%;
      width: 100%;
    }
  }

  .rdp-month {
    border: .1rem solid rgba(188, 203, 218, 0.5);
    border-radius: .75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--white);

    @include md {
      width: 100%;
    }

    &_grid {
      @include md {
        width: 100%;
      }
    }
  }

  .rdp-month_caption {
    padding: 1rem 2rem;
    height: 4.1rem;
    //background-color: #EBF0F4;
    background-color: var(--text_3d4465);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    justify-content: center;
  }

  .rdp-dropdown_root {
    font-size: 1.6rem;
    //color: var(--text_292F34);
    color: var(--white);
  }

  .rdp-caption_label {
    padding: .5rem;
    text-transform: capitalize;
  }

  .rdp-dropdown:focus-visible ~ .rdp-caption_label {
    outline: 1px solid var(--primary);
    border-radius: .25rem;
  }

  .rdp-dropdown {
    text-transform: capitalize;
  }

  .rdp-dropdown option {
    color: var(--text_292F34);
    &[disabled] {
      color: rgba(103, 119, 126, .3);
    }
  }

  .rdp-caption_label {
    .rdp-chevron {
      width: 1.5rem;
      position: relative;
      top: .1rem;
      height: 1.5rem;
    }
  }

  .rdp-day {
    border-top: .1rem solid rgba(188, 203, 218, 0.3);
    
    &:not(:last-child) {
      border-right: .1rem solid rgba(188, 203, 218, 0.3);
    }
  }

  .rdp-weekday {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text_292F34);
    opacity: 1;
  }

  .rdp-day_button {
    color: #67777E;

    @include md {
      display: inline-block;
    }
  }

  .rdp-nav {
    display: none;
  }

}