.rag-reservation {
  padding: 7rem 2rem;
  background-color: var(--gray_fcfdff);
  position: relative;

  &__wrapper {
    max-width: 132rem;
    width: 100%;
    margin: 0 auto;
  }

  &__field-group {
    margin-bottom: 2rem;

    &.field-group--note,
    &.field-group--apartment {
      grid-column: 1 / -1;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: start;
    gap: 5rem;
  }

  &__form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: 2rem;
  }

  .footer-text {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  &__confiramtion-form {
    text-align: center;
  }
}