*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is 
  font-size: 62.5%; // 1rem = 10px
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  position: relative;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2rem;
  font-weight: 700;
  color: var(--text_161824);
}

p {
  margin: 0 0 2rem;
  color: var(--text_3d4465);
}

img {
  font-style: italic;
  display: block;
  max-width: 100%;
  height: auto;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

ul, ol {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text_7e7e7e);
}

.page-wrapper {
  height: 100%;
}

.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
}